.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#minerals_container{
  width: 50%;
  display: inline-block;
  position: relative;
  top: -81.44px;
}

#vitamins_container{
  width: 50%;
  display: inline-block;
}

.name_cell {
  width: 25%;
}

#quantity_input {
  width: 40px;
  text-align: right;
}

.quantity_cell {
  width: 7.5%;
  text-align: right;
}


.calories_cell {
  width: 7.5%;
  text-align: right;
}

.serving_size_cell {
  text-align: right !important;
  width: 10%;
}

#name_header {
  width: 50%;
}

#quantity_header {
  width: 16.67%;
  text-align: right;
}


#serving_size_header {
  width: 16.67%;
  text-align: right;
}


#calories_header {
  width: 16.67%;
  text-align: right;
}

#food_selector_container {
  width: 50%;
  display: inline-block;
  height:600px;
}

#daily_foods_container {
  width: 50%;
  display: inline-block;
  height:600px;
}

